# Source
src/
tests/

# Config files
.eslintrc.json
.prettierrc
tsconfig.json
.dockerignore
Dockerfile

# Development files
.git/
.github/
.vscode/
.idea/
*.log
.DS_Store

# Dependencies
node_modules/
.pnpm-store/

# Test files
coverage/
.nyc_output/

# Environment
.env
.env.*
